* {
  border: none;
  font-family: "Caskaydia Cove Nerd Font";
  font-weight: 800;
  font-size: 15px;
  min-height: 0;
}

window#waybar {
  background: none;
  margin: 0;
  padding: 0;
}

.modules-left,
.modules-center {
  margin: 0 5px; /* add margin to the left and right */
}

.modules-right {
  margin: 0 11px; /* add margin to the left and right */
}

body {
  margin: 0 20px; /* add margin to the left and right */
}

tooltip {
  background: rgba(40, 40, 40, 0.76);
  border-radius: 0; /* no rounded corners */
  border-width: 2px;
  border-style: solid;
  border-color: #ebdbb2;
  color: #ebdbb2;
}

#workspaces button {
  border: none;
  transition-duration: 0.3s;
  background: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #928374;
  padding: 2px;
  padding-left: 3px;
  padding-right: 3px;
  margin: 3px;
}

#workspaces button.persistent {
  color: #ebdbb2;
}

#workspaces button.empty {
  color: #504945;
}

#workspaces button.special {
  color: #b8bb26;
}

#workspaces button.visible {
  color: #ebdbb2;
}

#workspaces button:hover {
  color: #d79921;
}

#workspaces button.active {
  color: rgba(40, 40, 40, 0.76); /* match the background color */
  background-color: #ebdbb2; /* same as the border color */
  border-radius: 0; /* no rounded corners */
}

#workspaces button.urgent {
  color: #cc241d;
}

#language,
#custom-updates,
#custom-weather,
#window,
#custom-playerctl,
#clock,
#battery,
#pulseaudio,
#custom-brightness,
#network,
#custom-vpn,
#workspaces,
#tray,
#cava,
#keyboard-state,
#idle_inhibitor,
#custom-power {
  background: none;
  padding: 0px 10px;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 0px;
}

#workspaces {
  background: rgba(40, 40, 40, 0.76);
  border-radius: 0; /* no rounded corners */
  border-width: 2px;
  border-style: solid;
  border-color: #ebdbb2;
  margin-left: 4px;
  padding-right: 6px;
  padding-left: 4px;
}

#custom-updates {
  background: rgba(40, 40, 40, 0.76);
  color: #ebdbb2;
  border-radius: 0; /* no rounded corners */
  border-width: 2px;
  border-left: 0px;
  border-style: solid;
  border-color: #ebdbb2;
}

#window {
  background: rgba(40, 40, 40, 0.76);
  border-width: 2px;
  border-style: solid;
  border-color: #ebdbb2;
  border-radius: 0; /* no rounded corners */
  margin-left: 30px;
  margin-right: 30px;
  color: #ebdbb2;
}

#network {
  background: rgba(40, 40, 40, 0.76);
  color: #ebdbb2;
  border-width: 2px;
  border-style: solid;
  border-color: #ebdbb2;
  border-radius: 0; /* no rounded corners */
  margin-left: 8px;
  padding: 0px 10px;
  border-right: 0; /* no right border */
}

#custom-vpn {
  background: rgba(40, 40, 40, 0.76);
  color: #ebdbb2;
  border-width: 2px;
  border-style: solid;
  border-color: #ebdbb2;
  border-radius: 0; /* no rounded corners */
  margin-left: 0; /* remove left margin */
  padding: 0px 10px 0px 5px; /* smaller left padding */
  border-left: 0; /* no left border */
}

#pulseaudio,
#pulseaudio.microphone,
#battery,
#custom-brightness {
  background: rgba(40, 40, 40, 0.76);
  color: #ebdbb2;
  border-width: 2px;
  border-style: solid;
  border-color: #ebdbb2;
  border-radius: 0; /* no rounded corners */
}

#custom-brightness {
  border-radius: 0;  /* no rounded corners */
  border-right: 0;   /* no right border */
}

#pulseaudio {
  border-radius: 0;  /* no rounded corners */
  border-left: 0;    /* no left border */
  border-right: 0;   /* no right border */
}

#pulseaudio.microphone {
  border-radius: 0;  /* no rounded corners */
  border-left: 0;    /* no left border */
  border-right: 0;   /* no right border */
}

#battery {
  border-radius: 0;  /* no rounded corners */
  border-left: 0;    /* no left border */
  margin-right: 4px; /* add spacing between groups */
}

#battery.warning {
  color: #d79921; /* Warning color */
}

#battery.critical {
  color: #cc241d; /* Critical color (red) */
}

#language {
  background: rgba(40, 40, 40, 0.76);
  color: #ebdbb2;
  border-width: 2px;
  border-style: solid;
  border-color: #ebdbb2;
  border-radius: 0;  /* no rounded corners */
  border-right: 0px; /* no right border */
  min-width: 24px;
  margin-left: 4px;  /* add spacing between groups */
}

#clock {
  background: rgba(40, 40, 40, 0.76);
  color: #ebdbb2;
  border-width: 2px;
  border-style: solid;
  border-color: #ebdbb2;
  border-radius: 0;  /* no rounded corners */
  border-left: 0px;  /* no left border */
  margin-left: -2px;
}
